

:root {
    --white-text: white;
    --border-rad: 5px;
    --header-width: 280px;
    --card-width: 314px;
    --code-width: 300px;
    background-color: black;
    background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/telescope_alignment_evaluation_image_labeled.png);
    background-size: 3840px 2009px;
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: 50px;
}
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(205, 87, 221);
    /* border: 1px solid greenyellow; */
}
h2, .code {
    border: 1px solid white
}

body {
    max-width: 992px;
    margin: 0px;
}

main {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header p, .code {
    color: white;
}

.display-flex {
    display: flex;
    flex: 0 0 var(--card-width);
    align-items: flex-start;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    height: 333px;
}

h2 {
    border-radius: var(--border-rad);
    margin-left: auto;
    margin-right: auto;
    margin-top: -16px;
    width: var(--header-width);
    background-color: black;
    opacity: 100%;
    text-align: center;
}

.center {
    text-align: center;
}


article {
    border: 1px dashed white;
    display: block;
    justify-content: center;
    width: var(--card-width);
    height: 100%;
}

.code {
    display: flex;
    margin: 0px;
    border-radius: 10px;
    list-style: none;
    width: var(--code-width);
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
    background-image: radial-gradient(
        black 70%,
        darkred 80%,
        red 85%,
        yellow 90%,
        white 100%
    );
    user-select: all;
}

.code:hover {
    border-color: white;
    border-radius: 100%;
    box-shadow: 0 0 6px 3px white,
                0 0 10px 5px magenta,
                0 0 14px 9px cyan,
                inset 0px 0px 50px white,
                inset 20px 0 80px yellow,
                inset -20px 0 80px cyan,
                inset 20px 0 300px magenta,
                inset -20px 0 300px orange,
                0 0 50px white,
                -10px 0 80px magenta,
                10px 0 80px cyan;
                transition: all 0.2s ease-in-out;
    cursor:grab;
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }



